<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>

	<body>
<!--
		<header>

			<div class="container">
				<nav class="main-nav">
					<ul>
						{% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
						{% for p in navigation_pages %}
							{% if p.navigation_weight %}
								<li>
									<a href="{{ p.url }}" {% if p.url == page.url %}class="active"{% endif %}>
										{{ p.title }}
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</nav>
				<h1><a href="/">&nbsp;<strong></strong></a></h1>
			</div>

		</header>-->
		<div align="left" class="container thin ">
                <h4><a href="/index.html"> Abe Handler</a></h4>
			 
		</div>
		<div style="width:100%; background:white">
		<div class="content lowpad thin whitebackground">

			{{ content }}

		</div>
		</div>
		<footer>
			<div align="center" class="container thin ">
				<a href="/index.html"> main page </a>
			</div>
		</footer>
		<script type="text/javascript"
			src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
	</script>
	</body>
</html>
